@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
* {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-family: sans-serif;
  font-family: 16px;
  background-color: white;
}

/* // MEDIA QUERIES FOR SMALL SCREENS // */

@media screen and (min-width: 376px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Lato", sans-serif;
    font-family: 16px;
    background-color: white;
  }

  .nav {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100%;
  }

  .nav-items {
    color: black;
  }

  /* // LINK STYLING NAVIGATION FOR NAV // */

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 500ms;
  }

  a:hover {
    font-size: 20px;
    font-size-adjust: 20px;
  }

  /* // HOME PAGE STYLING // */

  .home {
    text-align: center;
    padding-top: 20%;
    background-color: rgb(255, 227, 255);
  }

  .home-header {
    text-align: left;
    margin-left: 20px;
    font-size: 50px;
    background-color: rgb(255, 227, 255);
    -webkit-animation: fadein 5s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .home-title {
    text-align: left;
    margin-left: 20px;
    font-size: 25px;
    background-color: rgb(255, 227, 255);
  }

  /* // PORTFOLIO BUTTON STYLING // */

  .portfolio-btn {
    padding: 15px;
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    transition-duration: 0.4s;
  }

  .portfolio-btn:hover {
    background: rgb(255, 244, 223);
  }

  /* // MAKE PORTFOLIO BUTTON MOVE // */

  #portfolio-link {
    margin-right: 60%;
    transition-duration: 0.4s;
  }

  #portfolio-link:hover {
    margin-right: 55%;
    background: white;
  }

  /* // ICON STYLING HOME PAGE // */

  .github-icon {
    text-align: left;
    margin-left: 20px;
    background-color: rgb(255, 227, 255);
    border-radius: 50px;
  }

  .linkedin-icon {
    text-align: left;
    margin-left: 20px;
    background-color: rgb(255, 227, 255);
  }

  .github {
    border: none;
  }

  .linkedin {
    border: none;
  }

  .skills-header {
    background-color: rgb(255, 255, 255);
  }

  .skills {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 20%;
    box-shadow: 10px 10px 10px 2px grey;
  }

  .project-header {
    background-color: rgb(255, 255, 255);
  }

  .budget-bae-header {
    text-align: left;
    color: black;
  }

  .budget-bae-img {
    box-shadow: 12px 12px grey;
    border-radius: 5px;
  }

  h5 {
    text-align: left;
  }

  /* // ABOUT PAGE STYLING */

  .about {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 227, 255);
  }

  .about-header {
    background-color: rgb(255, 227, 255);
  }

  .about-blurb {
    line-height: 26px;
    background-color: rgb(255, 227, 255);
  }

  .about-img {
    border-radius: 100px;
  }

  /* // PROJECT PAGE STYLING // */

  .portfolio-header {
    background: rgb(255, 227, 255);
  }

  .portfolio-sec {
    padding: 10%;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 2px grey;
  }

  .portfolio-img {
    border-radius: 5px;
    box-shadow: 10px 10px 10px 2px grey;
  }

  .projects {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 227, 255);
  }

  .tech-info {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }

  /* // CONTACT STYLING PAGE // */

  .contact {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 227, 255);
  }

  .contact-header {
    background-color: rgb(255, 227, 255);
  }

  .contact-info {
    background-color: rgb(255, 227, 255);
  }

  /* // FOOTER STYLING // */
  .footer {
    text-align: center;
    padding: 30px;
    transition: all 500ms;
  }
  .footer:hover {
    font-size: 25px;
    font-size-adjust: 20px;
  }
}
